@import '../settings';

.badge,
[class^="badge-"],
[class*=" badge-"] {
    background: $light-gray;
    border-radius: $ultimate-border-radius;
    color: $black;
    font-size: $small-font-size;
    padding: 0.25rem 0.75rem;
}

@each $name, $code in $colors {
    .badge-#{$name} {
        background-color: $code;
        color: $white;
    }
}