@import '../settings';
@import '../utils/breakpoints';

.button {
    background-color: map-get($colors, primary);
    box-shadow: $button-box-shadow;
    border: transparent;
    border-radius: $button-border-radius;
    border: none;
    color: $white;
    display: inline-flex;
    padding: $button-padding;
    text-decoration: none;
    transition: $button-transition;
    white-space: nowrap;

    &:hover,
    &:focus {
        background-color: scale-color(map-get($colors, primary), $lightness: $darken);
        color: $white;
        box-shadow: $floating-shadow;
    }

    @each $designation, $color in $colors {
        &.button-#{$designation},
        &.button-#{$designation}[disabled]:hover {
            background-color: $color;
        }

        &.button-#{$designation}:hover {
            background-color: scale-color($color, $lightness: $darken);
        }
    }

    &.button-primary {
        font-weight: $font-weight-bold;
    }

    &.button-plain {
        background-color: transparent;
        box-shadow: none;
        color: $black;

        &:hover,
        &:focus {
            background-color: $light-gray;
        }
    }

    &[disabled],
    &.button-disabled {
        box-shadow: none;
        opacity: 0.65;
        cursor: not-allowed;
    }

    &.button-suppressed {
        background: $button-suppressed-background;
        box-shadow: $button-suppressed-box-shadow;
        color: map-get($colors, primary);

        @each $designation, $color in $colors {
            &.#{$designation},
            &.#{$designation}[disabled]:hover {
                color: $color;
            }

            &.#{$designation}:hover {
                background-color: $button-suppressed-background-hover;
            }
        }

        &:hover {
            background: scale-color($button-suppressed-background, $lightness: -7%);
            color: scale-color(map-get($colors, primary), $lightness: $darken);
        }

        &[disabled],
        &[disabled]:hover,
        &.button-disabled,
        &.button-disabled:hover {
            //background: opacify($button-suppressed-background, 0.11);
            box-shadow: none;
            color: $black;
        }
    }

    &.button-emphasized {
        font-weight: $font-weight-bold;
    }

    &.exercise {
        color: map-get($colors, secondary);
        font-size: map-get(map-get(map-get($headings, small), h1), 'font-size');

        //background: linear-gradient(to bottom, rgba($white, 1) 10%, rgba($white, 0) 90%) 50% 0%,
        //            linear-gradient(to right, adjust-color(map-get($colors, alert), $hue: -10), map-get($colors, alert), adjust-color(map-get($colors, alert), $hue: 10)) left center;

        background: $white;
        box-shadow: $soft-shadow;
        width: 100%;
        //margin-bottom: 1.5rem;
        outline: none;
        -webkit-tap-highlight-color: transparent; // we have custom highlights
        transition: all $lightning-speed ease-out;

        @include breakpoint(medium) {
            font-size: map-get(map-get(map-get($headings, medium), h1), 'font-size');
        }

        &:hover {
            box-shadow: $floating-shadow;

            @include breakpoint(medium) {
                transform: scale(1.025, 1.075);
            }
        }

        &:active {
            background-color: $active-color;
        }

        &.correct,
        &.incorrect {
            color: $white;
            position: relative;

            @include breakpoint(medium) {
                transform: scale(1.025, 1.075);
            }
        }

        &.correct {
            animation: 0.65s 1 aura-success;
            background-color: map-get($colors, success);

        }

        &.incorrect {
            background: map-get($colors, alert);
            //background: linear-gradient(to right, adjust-color(map-get($colors, alert), $hue: -10), map-get($colors, alert), adjust-color(map-get($colors, alert), $hue: 10));
            animation: 0.65s 1 shake cubic-bezier(0.36,0.07,0.19,0.97) both;
        }
    }

    .material-icons {
        font-size: $large-font-size;
        //line-height: 0.75;
    }
}

@each $size, $attrs in $buttons {
    .button-#{$size} {
        font-size: map-get($attrs, font-size);
        padding: map-get($attrs, padding);
    }
}

//table .button:last-child {
//    margin-bottom: 0;
//}