@import '../settings';
@import '../utils/breakpoints';

.content-box {
    background: $white;
    border-radius: $border-radius;
    box-shadow: $soft-shadow;
    margin: $vertical-margin auto;

    & > *:not(:first-child) {
        border-top: 0.0625rem solid $border-gray;
    }

    &.content-box-padded .content-box-section {
        padding-top: $vertical-padding * 2;
        padding-bottom: $vertical-padding * 2;

        @include breakpoint(medium) {
            padding-top: $vertical-padding * 3;
            padding-bottom: $vertical-padding * 3;
        }

        @include breakpoint(large) {
            padding-top: $vertical-padding * 4;
            padding-bottom: $vertical-padding * 4;
        }
    }
}


@each $name, $code in $colors {
    .content-box-#{$name} {
        background-color: scale-color($code, $lightness: 83%, $saturation: -25%);
        //box-shadow: $floating-shadow, inset 0 0 12rem rgba($code, 0.05);
    }
}

.content-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $vertical-padding $small-horizontal-padding;

    @include breakpoint(medium) {
        padding: $vertical-padding $horizontal-padding;
    }

    h1,
    h2,
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.5rem;
    }

    h1 {
        font-size: $content-box-h1-size;
    }

    h2 {
        font-size: $content-box-h2-size;
    }

    h3 {
        font-size: $content-box-h3-size;
    }
}

.content-box-section {
    padding: $vertical-padding * 0.75 $small-horizontal-padding;

    @include breakpoint(medium) {
        padding-left: $horizontal-padding;
        padding-right: $horizontal-padding;
    }

    & > .grid {
        padding: 0;
    }

    &.tight {
        padding-top: $vertical-padding / 4;
        padding-bottom: $vertical-padding / 4;
        //padding-top: 0.0625rem;
        //padding-bottom: 0.0625rem;
    }

    &.unseparated {
        border-top: none;
    }
}