@import '../settings';
@import '../utils/breakpoints';

.dropdown {
    list-style: none;
    position: relative;

    .dropdown-button:after {
        content: '\e900';
        font-family: $icon-font;
        font-size: $small-font-size;
        margin-left: 0.5rem;
    }

    .title {
        color: $medium-gray;
        font-size: $small-font-size;
        padding: $button-padding;
    }

    .divider {
        height: 0.0625rem;
        background-color: $border-gray;
        margin: $vertical-padding / 2 0;
    }

    &:hover,
    &:focus {
        z-index: map-get($layers, dropdown);

        .dropdown-button {
            background-color: $light-gray;
        }

        .dropdown-button.primary {
            background-color: scale-color(map-get($colors, primary), $lightness: $darken);
        }

        .dropdown-menu {
            //display: block;
            height: auto;
            opacity: 1;
            top: 100%;
        }
    }
}

.dropdown-menu {
    background-color: $white;
    box-shadow: $floating-shadow;
    border-radius: $button-border-radius;
    //display: none;
    height: 0;
    left: 0;
    list-style: none;
    min-width: 240px;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 90%;
    transition: opacity, top $lightning-speed $default-easing;
    width: auto;

    & > :first-child {
        margin-top: $vertical-padding / 2;
    }

    & > :last-child {
        margin-bottom: $vertical-padding / 2;
    }

    a {
        color: $black;
        display: block;
        border-radius: 0;
        padding: $button-padding;
        text-decoration: none;
        transition: $button-transition;

        &:hover,
        &:focus {
            background-color: $light-gray;
        }
    }
}

.dropdown-menu-right {
    left: auto;
    right: 0;
}