@import 'util/util';
@import '../custom-settings';

.exercise-question {
    text-align: center;
    font-weight: $global-weight-normal;
    margin: 0 0 $custom-vertical-padding * 3;
}

.exercise-blank {
    color: map-get($foundation-palette, secondary);
}

.exercise-correct {
    color: map-get($foundation-palette, success);
}

.exercise-incorrect {
    color: map-get($foundation-palette, alert);
}

.exercise-grid {
    @include flex;
    @include flex-direction(column);
    @include flex-align(justify, null);
    min-height: calc(100vh - 8rem);

    @include breakpoint(medium up) {
        min-height: calc(100vh - 14rem);
    }
}

.exercise-main {
    @include breakpoint(medium up) {
        margin-bottom: 4rem;
    }
}

.exercise-utils {
    input[type=checkbox] {
        margin-bottom: 0;
    }
}

.exercise-disclosure {
    text-align: center;
    margin: 1rem 0;

    [type=checkbox] + label {
        margin-left: 0.25rem;
    }

    .content {
        height: 0;
        box-sizing: border-box;
        overflow-y: auto;
        text-align: left;
        transition: $custom-size-transition;
        font-size: $small-font-size;

        & > * {
            margin: 0.5rem 0;
        }
    }

    [type=checkbox]:checked ~ .content {
        height: 6rem;
    }

    &.exercise-disclosure-large [type=checkbox]:checked ~ .content {
        height: 12rem;
    }


    table {
        &.unstriped tbody tr {
            background: transparent;
        }
    }
}

.exercise-alternatives {
    text-align: center;
    margin-top: 1.5rem;
}