@import '../settings';

.exercise-thumb {
    align-items: center;
    background: $light-gray;
    border-radius: $border-radius;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    text-decoration: none;

    &:hover,
    &:focus {
        background-color: $button-suppressed-background-hover;

        .dongle {
            box-shadow: $soft-shadow;
        }
    }

    .dongle {
        flex-shrink: 0;
        margin-right: $small-horizontal-padding;
        width: 3.5rem;
    }

    .content {
        color: $black;
        flex-grow: 2;
        overflow: hidden;

        .title {
            display: -webkit-box;
            font-weight: $font-weight-bold;
            line-height: 1.375rem;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

        }

        .description {
            font-size: $small-font-size;
        }
    }
}