@import 'util/util';
@import '../custom-settings';

.exercise-stats {
    @include flex;
    @include flex-align(justify, middle);
    margin: 1.5rem 0;

    .progress {
        flex-grow: 2;
        position: relative;

        .labels {
            padding: 0 0.25rem 0.25rem;
            @include flex;
            @include flex-align(justify, middle);
            position: absolute;
            top: -1.625rem;
            right: 0;
            left: 0;
            font-size: $small-font-size;
            white-space: nowrap;

            & > :only-child {
                text-align: center;
                width: 100%;
            }

            & > h1,
            & > h2 {
                position: relative;
                top: -1.25rem;
            }
        }
    }

    .progress + .shield {
        margin-left: 0.5rem;

        @include breakpoint(medium up) {
            margin-left: 1rem;
        }
    }

    .shield {
        width: 3rem;
        height: 3rem;
        background-color: $white;
        box-shadow: $custom-soft-shadow;
        border-radius: $custom-ultimate-radius;
        background-origin: content-box;
        padding: 0.25rem;
    }

    &.exercise-stats-inverse {
        .shield {
            background-color: $light-gray;
            box-shadow: none;
        }
    }
}