@import '../settings';
@import '../utils/breakpoints';

.exercise-question {
    text-align: center;
    font-weight: $font-weight-normal;
    margin: 0 0 $vertical-padding * 3;
}

.exercise-blank {
    color: map-get($colors, secondary);
}

.exercise-correct {
    color: map-get($colors, success);
}

.exercise-incorrect {
    color: map-get($colors, alert);
}

.exercise-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 7rem);

    @include breakpoint(medium) {
        min-height: calc(100vh - 13.5rem);
    }
}

.page-wrapper-final .exercise-grid {
    min-height: calc(100vh - 11rem);

    @include breakpoint(medium) {
        min-height: calc(100vh - 16rem);
    }
}

.exercise-main {
    @include breakpoint(medium) {
        margin-bottom: 4rem;
    }
}

.exercise-utils {
    input[type=checkbox] {
        margin-bottom: 0;
    }
}

.exercise-disclosure {
    text-align: center;
    margin: 1rem 0;

    [type=checkbox] + label {
        margin-left: 0.25rem;
    }

    .content {
        height: 0;
        box-sizing: border-box;
        overflow-y: auto;
        text-align: left;
        transition: $size-transition;
        font-size: $small-font-size;

        & > * {
            margin: 0.5rem 0;
        }
    }

    [type=checkbox]:checked ~ .content {
        height: 6rem;
    }

    &.exercise-disclosure-large [type=checkbox]:checked ~ .content {
        height: 12rem;
    }


    table {
        &.unstriped tbody tr {
            background: transparent;
        }
    }
}

.exercise-alternatives {
    text-align: center;
    margin-top: 1.5rem;
}
