@import '../settings';
@import '../utils/breakpoints';

footer {
    background: $white;
    padding: $vertical-padding * 4 $horizontal-padding * 2;
    box-shadow: 0 -3px 3px 0 rgba(0,0,0,.007),
                0 -8px 8px 0 rgba(0,0,0,.008);

    p {
        color: $dark-gray;
    }

    h2 {
        color: $dark-gray;
        font-size: $font-size;
        margin-top: 0;
    }

    ul {
        line-height: $line-height * 1.25;
    }

    a {
        text-decoration: none;
    }

    .dongle {
        width: 110px;
    }

    .grid-content:not(:last-child) {
        position: relative;
        border-bottom: 1px solid $border-gray;

        padding-bottom: $vertical-padding;
        margin-bottom: $vertical-padding * 2;

        //&:after {
        //
        //    content: '';
        //    position: absolute;
        //    bottom: 0;
        //    left: $custom-small-horizontal-padding + rem-calc(map-get($grid-margin-gutters, small)) * 0.5;
        //    right: $custom-small-horizontal-padding + rem-calc(map-get($grid-margin-gutters, small)) * 0.5;
        //
        //    @include breakpoint(medium up) {
        //        left: $custom-horizontal-padding + rem-calc(map-get($grid-margin-gutters, medium)) * 0.5;
        //        right: $custom-horizontal-padding + rem-calc(map-get($grid-margin-gutters, medium)) * 0.5;
        //    }
        //}
    }

}