@import '../settings';
@import '../utils/breakpoints';

header {
    background: $white;
    box-shadow: $soft-shadow;
    position: relative;
    z-index: map-get($layers, headers);

    &.dropdown > .dropdown-button {
        background-color: transparent;
        left: 0;
        position: absolute;
        top: 0;
        z-index: 1;

        @include breakpoint(medium) {
            display: none;
        }

        &:after {
            font-family: $icon-font;
            content: '\e90a';
            display: block;
            font-size: $large-font-size;
            padding: $button-vertical-padding * 0.75 $horizontal-padding;
            margin: 0;
        }
    }

    .header-row-secondary,
    .header-touch-secondary {
        display: none;

        @include breakpoint(medium) {
            display: block;
        }
    }

    .header-row {
        padding: 0.25rem $horizontal-padding / 2;

        @include breakpoint(medium) {
            padding: 0.25rem $horizontal-padding;
        }
    }

    &.dropdown-open {
        .header-row-secondary,
        .header-touch-secondary {
            display: block;
        }

        & > .dropdown-button:after {
            content: '\e904';
        }
    }

    .header-row-primary {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: 0.0625rem solid $border-gray;

        .menu > * {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        @include breakpoint(medium) {
            .menu > *:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }

    .app-switch {
        margin-left: 2.25rem;

        @include breakpoint(medium) {
            margin-left: 0;
        }
    }

    .menu {
        align-items: center;
        flex-grow: 1;
        margin: 0 auto;
        max-width: $grid-max-width;
    }

    #header-content-menu {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .identity {
        font-size: 1.375rem;
        line-height: $font-size * $line-height;
    }
}