@import '../settings';

@each $icon in $content-icons {
    .icon-#{$icon} {
        background: $white url('../img/icon-#{$icon}.png') center no-repeat;
        background-size: contain;
        border-radius: 15%;
        box-shadow: $soft-shadow;
        min-width: 3rem;

        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }
    }
}