@import '../settings';
@import '../utils/breakpoints';

.intro-box {
    padding: 0 $small-horizontal-padding $vertical-padding * 2;
    text-align: center;

    @include breakpoint(medium) {
        padding: 0 $horizontal-padding $vertical-padding * 2;
        text-align: left;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    @include breakpoint(large) {
        max-width: 80%;
    }

    h1 {
        font-size: 2rem;

        @include breakpoint(medium) {
            font-size: 4rem;
            margin-bottom: 0;
        }
    }

    .dongle {
        width: 6rem;
        margin: 0 auto 0.75rem;

        @include breakpoint(medium) {
            width: 14rem;
            margin: 0.75rem 1.75rem 0 0;
        }
    }

    &.intro-box-simple-headline {
        .dongle {
            @include breakpoint(medium) {
                width: 5.5rem;
                margin-top: 0;
            }
        }
    }
}