@import '../settings';

.meter {
    height: 0.875rem;
    border-radius: $border-radius;
    background: $white;
    box-shadow: $soft-shadow;
    position: relative;

    &.meter-inverse {
        background: $light-gray;
        box-shadow: none;
    }

    &:before,
    &:after {
        content: '';
        display: block;
        width: 0.0625rem;
        background: rgba($black, 0.25);
        position: absolute;
        left: 50%;
        height: 100%;
        z-index: map-get($layers, raised);
    }

    &:after {
        width: 50%;
        left: 25%;
        background: none;
        border-style: solid;
        border-color: rgba($black, 0.25);
        border-width: 0 0.0625rem;
    }

    .ceiling,
    .current {
        height: 100%;
        position: absolute;
        transition: width $slow-speed $swing-easing;
    }

    .ceiling:after,
    .current:after {
        content: '';
        border-radius: $ultimate-border-radius;
        background: opacify($light-gray, 0.06);
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        animation: meter-grow $sluggish-speed ease-in-out;
    }

    .current:after {
        background: linear-gradient(to right,
                    scale-color(map-get($colors, primary), $lightness: 25%) 5%,
                    scale-color(map-get($colors, primary), $lightness: 0) 95%);
    }
}

@each $name, $color in $colors {
    .meter-#{$name} .current:after {
        background: linear-gradient(to right,
            scale-color($color, $lightness: 25%) 5%,
            scale-color($color, $lightness: 0) 95%);
    }
}

@keyframes meter-grow {
    from {
        width: 0;
    }

    to   {
        width: 100%;
    }
}