@import 'util/util';
@import '../custom-settings';

.meter {
    height: 0.875rem;
    border-radius: $global-radius;
    background: $white;
    box-shadow: $custom-soft-shadow;
    position: relative;

    &.meter-inverse {
        background: $light-gray;
        box-shadow: none;
    }

    &:before,
    &:after {
        content: '';
        display: block;
        width: rem-calc(1px);
        background: rgba($black, 0.25);
        position: absolute;
        left: 50%;
        height: 100%;
        z-index: 1;
    }

    &:after {
        width: 50%;
        left: 25%;
        background: none;
        border-style: solid;
        border-color: rgba($black, 0.25);
        border-width: 0 rem-calc(1px);
    }

    .ceiling,
    .current {
        height: 100%;
        position: absolute;
        transition: width $custom-slow-speed $custom-swing-easing;
    }

    .ceiling:after,
    .current:after {
        content: '';
        border-radius: $custom-ultimate-radius;
        background: opacify($light-gray, 0.06);
        height: 100%;
        width: 100%;
        position: absolute;
        animation: meter-grow $custom-sluggish-speed ease-in-out;
    }

    .current:after {
        $meter-current: map-get($foundation-palette, warning);
        background: linear-gradient(to right,
                    scale-color($meter-current, $lightness: 25%) 5%,
                    scale-color($meter-current, $lightness: 0) 95%);
    }
}

@keyframes meter-grow {
    from {
        width: 0;
    }

    to   {
        width: 100%;
    }
}