@import '../settings';
@import '../utils/breakpoints';

.page-wrapper {
    background: $faint-gray url('../img/footer-pencils.png') no-repeat bottom -2rem center;
    background-size: (690px * 0.45) (270px * 0.45);
    padding: 0rem $horizontal-padding 7rem;

    @include breakpoint(medium) {
        padding: 1rem $horizontal-padding 7rem;
    }

    &.page-wrapper-exercise {
        background-image: none;
        position: relative;
        padding: 0.5rem 0 3rem;

        @include breakpoint(medium) {
            padding: 2rem 0 4rem;
        }
    }

    &.page-wrapper-final {
        position: relative;
    }
}