@import '../settings';

.person-mention {
    align-items: center;
    background: $light-gray;
    border-radius: $ultimate-border-radius;
    display: inline-flex;
    padding: $person-mention-padding;
    max-width: 100%;

    .dongle {
        width: 2.5rem;
        height: 2.5rem;
        flex: 0 0 auto;

        img {
            max-width: 100%;
            max-height: 100%;
            overflow: hidden;
            font-size: $small-font-size;
            color: $medium-gray;
            text-align: center;
        }
    }

    .label {
        font-size: $small-font-size;
        line-height: 1.4;
        margin: 0 1rem 0 0.25rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:first-child {
            margin-left: 1rem;
        }
    }
}