@import '../settings';

$duration: 1.5s;
$shield-color: map-get($apps, czech);
$iteration-count: 1;
$delay: 0.3s;

$levels: (
    'dot',
    '0',
    '1',
    '2',
    '3',
    '4',
);

$stars: (
    1,
    2,
    3,
    4,
);

.fancy-shield {
    margin: 0 auto 2.5rem;
    height: 10rem;
    width: 10rem;
    position: relative;

    svg {
        position: relative;
        transform-origin: center center 1cm;
        width: 100%;
        height: 100%;
        z-index: 1;

        path, polygon {
            transform-origin: center center;
        }

        #board-right {
            fill: scale-color($shield-color, $lightness: $darken);
        }
        
        #board-left {
            fill: $shield-color;
        }

        path,
        polygon {
            visibility: hidden;
        }

        #board-right,
        #board-left,
        #frame-right,
        #frame-left {
            visibility: visible;
        }
    }

    &:before {
        background: rgba($black, 0.5);
        border-radius: 50%;
        bottom: -10%;
        content: '';
        filter: blur(10px);
        height: 5%;
        left: 25%;
        position: absolute;
        transform: scale(1.35, 0.65);
        width: 50%;
    }

    svg, 
    svg path, 
    &:before {
        animation-delay: $delay;
        animation-iteration-count: $iteration-count;
        animation-duration: $duration;
    }
}

@each $level in $levels {
    .fancy-shield-level-#{$level} svg {
        #label-#{$level} {
            visibility: visible;
            filter: url(#drop-shadow);
        }
    }
}

@each $star in $stars {
    .fancy-shield-star-#{$star} svg {
        @for $i from 1 through $star {
            #star-#{$i} {
                visibility: visible;
                fill: url(#star-gradient);
                filter: url(#drop-shadow);
            }
        }
    }
}

.fancy-shield-rise-and-land {
    $easing: cubic-bezier(.75,0.25,.6,2);

    svg,
    .label {
        animation-name: rise-and-land;
        animation-timing-function: $easing;
    }

    &:before {
        animation-name: rise-and-land-shadow;
        animation-timing-function: $easing;
    }

    path:nth-child(1) {
        animation-name: wing-wave-right;
    }

    path:nth-child(2) {
        animation-name: wing-wave-left;
    }
    
    path:nth-child(4) {
        animation-name: wing-wave-left;
    }

    path:nth-child(3) {
        animation-name: wing-wave-right;
    }
}

.fancy-shield-high-five {
    $easing: ease-in-out;
    $duration: 1.2s;

    svg,
    .label {
        animation-name: high-five;
        animation-timing-function: $easing;
        animation-duration: $duration;
    }

    #board-left {
        animation-name: fold-left;
        animation-timing-function: $easing;
        animation-duration: $duration;
    }
    
    #board-right {
        animation-name: fold-slight-left;
        animation-timing-function: $easing;
        animation-duration: $duration;
    }
}

// keyframes

@keyframes high-five {
    55% {
        transform: rotate3d(1, 1, 0, 20deg);
    }    

    75% {
        transform: rotate3d(1, 1, 0, -20deg);
    }
}

@keyframes fold-left {
    55% {
        transform: rotate3d(0, 1, 0, -20deg);
    }
}

@keyframes fold-slight-left {
    55% {
        transform: rotate3d(0, 1, 0, -10deg);
    }
}

@keyframes fold-right {
    55% {
        transform: rotate3d(0, 1, 0, 20deg);
    }
}

@keyframes fold-slight-right {
    55% {
        transform: rotate3d(0, 1, 0, 10deg);
    }
}

@keyframes wing-wave-left {
    8%, 24%, 40%, 56% {
        transform: rotate3d(0, 1, 0, -20deg);
    }

    16%, 32%, 48%, 64% {
        transform: rotate3d(0, 1, 0, 20deg);
    }
}

@keyframes wing-wave-right {
    8%, 24%, 40%, 56% {
        transform: rotate3d(0, 1, 0, 20deg);
    }

    16%, 32%, 48%, 64% {
        transform: rotate3d(0, 1, 0, -20deg);
    }
}

@keyframes rise-and-land {
    90% {
        transform: translate3d(0, -15%, 0) rotate3d(1, 0, 0, -10deg) rotate3d(0, 1, 0, 7deg);
    }
}

@keyframes rise-and-land-shadow {
    90% {
        transform: scale(1.25, 0.5);
    }
}
