<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="white-translucent">

        <title>Umíme to!</title>
        <link rel="stylesheet" href="{{root}}assets/styles/app.css">
        <link rel="icon" href="{{root}}assets/img/umime-cesky-appicon.png" type="image/png">
        <link rel="apple-touch-icon" href="{{root}}assets/img/umime-cesky-appicon-ios.png">
    </head>
    <body>

    {{> header}}

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    {{> footer}}

    <script src="/assets/scripts/umime.app.js" type="text/javascript"></script>

    </body>
</html>