<div class="grid-item-small-12 grid-item-large-8 grid-item-large-offset-2">
    <div class="animation-stage-3">
        <p class="small-align-center suppressed">Nechceš teď jít dál? Zkus něco jiného!</p>
        <div class="grid medium-2-cols">
            <div class="grid-content">
                <a href="{{root}}doplnovacka-intro.html" class="exercise-thumb grid-item">
                    <div class="dongle icon-doplnovacka"></div>
                    <div class="content">
                        <div class="title">Měkké a tvrdé souhlásky</div>
                        <div class="description">1. úroveň</div>
                    </div>
                </a>
                <a href="{{root}}doplnovacka-intro.html" class="exercise-thumb grid-item animation-stage-4">
                    <div class="dongle icon-diktaty"></div>
                    <div class="content">
                        <div class="title">Koncovky ovi/ovy</div>
                        <div class="description">2. úroveň</div>
                    </div>
                </a>
                <a href="{{root}}doplnovacka-intro.html" class="exercise-thumb grid-item animation-stage-5">
                    <div class="dongle icon-diktaty"></div>
                    <div class="content">
                        <div class="title">Různé výskyty I/Y</div>
                        <div class="description">2. úroveň</div>
                    </div>
                </a>
                <a href="{{root}}doplnovacka-intro.html" class="exercise-thumb grid-item">
                    <div class="dongle icon-doplnovacka"></div>
                    <div class="content">
                        <div class="title">Měkké a tvrdé souhlásky</div>
                        <div class="description">1. úroveň</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="grid-item-small-12 grid-item-large-8 grid-item-large-offset-2 small-align-center">
    <a href="{{root}}index.html" class="button button-suppressed">Zpět na přehled</a>
</div>