@import '../custom-settings';

#gridcross {
    margin: 0 auto;
    padding: 1rem;

    #canvas-wrapper {
        background: bisque;
        border-radius: $global-radius;
        box-sizing: content-box;
        margin: 0 auto;
        //padding: 10px;
        width: fit-content;
    }

    #canvas {
        box-sizing: border-box;
        display: block;

        path,
        line {
            stroke-linecap: round;
            stroke-width: 1px;

            &.gridline {
                stroke: $medium-gray;
            }

            &.userline {
                stroke: $black;
            }

            pointer-events: none;
        }

        .indicator {
            stroke-linecap: round;
            stroke-width: 3px;
            stroke: $secondary-color;

            &.snapped {
                stroke: $warning-color;
                stroke-width: 4px;
            }
        }

        .node {
            &.gridnode {
                fill: transparent;
            }

            &.usernode {
                stroke: $black;
                fill: $white;
                stroke-width: 2;
                position: relative;
                z-index: 2;
            }
        }
    }
}