@import 'util/util';
@import 'custom-settings';


.fadein {
    animation: key-fade-in $custom-medium-speed $custom-fadein-easing;

    @for $t from 2 through 5 {
        .animation-stage-#{$t} {
            opacity: 0;
            animation: key-fade-in $custom-medium-speed $custom-fadein-easing;
            animation-delay: ($custom-medium-speed * ($t - 1)) * 0.5;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes key-fade-in {
    from {
        opacity: 0;
    }

    to   {
        opacity: 1;
    }
}

@keyframes aura-success {
    from {
        box-shadow: 0 0.0625rem 0 0 rgba(map-get($foundation-palette, success), 0.5),
        $custom-floating-shadow-close,
        $custom-floating-shadow-far;
    }

    to {
        box-shadow: 0 0.0625rem 0 1.25rem rgba(map-get($foundation-palette, success), 0),
        $custom-floating-shadow-close,
        $custom-floating-shadow-far;
    }
}

@keyframes shake {
    10%, 90% {
        left: -0.0625rem;
    }

    20%, 80% {
        left: 0.125rem;
    }

    30%, 50%, 70% {
        left: -0.25rem;
    }

    40%, 60% {
        left: 0.25rem;
    }
}