// paddings and margins

$vertical-padding: 0.75rem;
$horizontal-padding: 1.25rem;
$small-horizontal-padding: 0.75rem;

$vertical-margin: 0.875rem;
$horizontal-margin: 1.5rem;

$box-margin: $vertical-margin $horizontal-margin;


// colors

$black: #323F4D;
$white: #fff;

$faint-gray: #F8F9F9;
$light-gray: rgba($black, 0.08);
$medium-gray: rgba($black, 0.45);
$dark-gray: rgba($black, 0.65);

$border-gray: rgba($black, 0.1);
$border-medium-gray: rgba($black, 0.18);

$apps: (
    czech: #31BD60,
    english: #9B59B6,
    math: #2EB8E6,
    facts: #E65D50,
    programming: #078AB6,
    german: #F0AE35,
);

$colors: (
    primary: map-get($apps, math),
    secondary: #0BB9F3,
    success: #00CA65,
    warning: #FFAE21,
    alert: #E65D50,
);

$darken: -20%;

$active-color: rgba(map-get($colors, secondary), 0.25);

// breakpoints

$breakpoints: (
    small: 0,
    medium: 600px,
    large: 900px,
    xlarge: 1200px,
    xxlarge: 1800px
);

// grid

$grid-columns: 12;
//$grid-gap: 1.5rem;
$grid-gap: 2rem;
$grid-max-width: 1200px;

// dimensions

$border-radius: 0.4375rem;
$ultimate-border-radius: 5rem;

// fonts

$font-size: 1rem;
$small-font-size: 0.875rem;
$large-font-size: 1.25rem;

$font-weight-normal: 400;
$font-weight-bold: 700;

$headings: (
    small: (
        h1: (font-size: 1.75rem),
        h2: (font-size: 1.375rem),
        h3: (font-size: 1.25rem),
        h4: (font-size: 1.125rem),
    ),
    medium: (
        h1: (font-size: 1.75rem),
        h2: (font-size: 1.375rem),
        h3: (font-size: 1.25rem),
        h4: (font-size: 1.125rem),
    ),
);

$content-box-h1-size: 1.5rem;
$content-box-h2-size: 1.125rem;
$content-box-h3-size: 1rem;

$font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;

// box shadows

$soft-shadow-close: 0 2px 5px  0 rgba(0,0,0,.015);
$soft-shadow-far: 0 5px 16px 0 rgba(0,0,0,.02);
$soft-shadow: $soft-shadow-close,
$soft-shadow-far;

$floating-shadow-close: 0 1px 7px  0 rgba(0,0,0,.07);
$floating-shadow-far: 0 5px 20px 0 rgba(0,0,0,.04);
$floating-shadow: $floating-shadow-close,
$floating-shadow-far;

// animations

$default-easing: ease-out;
$fadein-easing: ease-in;

$swing-easing: cubic-bezier(0.7,0.2,0.3,1);

$lightning-speed: 0.15s;
$fast-speed: 0.25s;
$medium-speed: 0.45s;
$slow-speed: 0.85s;
$sluggish-speed: 2s;

$hover-transition: background-color $lightning-speed $default-easing, color $lightning-speed $default-easing;
$size-transition: width $medium-speed $default-easing, height $medium-speed $default-easing;

// buttons

$button-vertical-padding: 0.5rem;
$button-horizontal-padding: 1rem;
$button-padding: $button-vertical-padding $button-horizontal-padding;
$small-button-padding: $button-vertical-padding * 0.875 $button-horizontal-padding * 0.875;
$large-button-padding: $button-vertical-padding * 1.125 $button-horizontal-padding * 1.25;

$buttons: (
    small: (font-size: $small-font-size, padding: $small-button-padding),
    medium: (font-size: $font-size, padding: $button-padding),
    large: (font-size: $font-size, padding: $large-button-padding),
);

$button-border-radius: 0.375rem;

//$button-box-shadow: inset 0 -0.0625rem 0 rgba(0,0,0,0.12);
$button-box-shadow: $soft-shadow;
//$button-suppressed-box-shadow: inset 0 -0.0625rem 0 rgba(0,0,0,0.04);
$button-suppressed-box-shadow: none;

$button-suppressed-background: rgba($black, 0.08);
$button-suppressed-background-hover: rgba($black, 0.2);

$button-transition: background-color $lightning-speed $default-easing, color $lightning-speed $default-easing;

// labels

$label-font-size: $small-font-size;
$label-padding: 0.25rem 0.5rem;

// person-mention

$person-mention-padding: 0.25rem;

// line heights

$line-height: 1.5;
$small-line-height: 1.25rem;

// icons

$icon-font: 'umime-to';

$content-icons: (
    'doplnovacka',
    'diktaty'
);

// layers

$layers: (
    back: -1,
    base: 0,
    raised: 1,
    headers: 2,
    dropdown: 4,
    sticky: 6,
    fixed: 8,
    tooltip: 10,
    modal: 12,
);

// alignments

$alignments: (
    left,
    right,
    center
);

// shields

$shields: (
    'lvl-dot',
    'lvl-0',
    'lvl-1',
    'lvl-2',
    'lvl-3',
    'lvl-3-reinforced-1',
    'lvl-3-candidate-1',
    'lvl-3-reinforced-2',
    'lvl-3-candidate-2',
    'lvl-4',
    'lvl-4-reinforced-1',
    'lvl-4-candidate-1',
    'lvl-4-reinforced-2',
    'lvl-4-candidate-2'
);
