@import 'settings';
//@import './utils/breakpoints';

.daily-limit {

    //.splash {
    //    position: relative;
    //
    //    .front {
    //        position: relative;
    //        //z-index: 1;
    //    }
    //
    //    .back {
    //        position: relative;
    //        z-index: 1;
    //    }
    //}

    h1 {
        //margin-top: $vertical-margin * 2;
    }

    h2 {
        //margin-bottom: 0;
    }

    h3 {
        margin-top: $vertical-margin;
    }

    .subheader {
        margin-bottom: $vertical-margin * 1.5;
    }

    .meter {
        box-shadow: $floating-shadow;
        max-width: 30rem;
        margin: 0 auto;
    }

    .picture {
        position: relative;
        height: 12rem;
    }

    .picture-with-meter {
        margin-bottom: -1rem;
        //transform: rotate(-5deg);
    }

    .picture-small {
        height: 8rem;
    }

    .picture-license {
        height: 5rem;
        display: inline-block;
        margin: $vertical-margin * 2 auto $vertical-margin * -0.5;
    }

    .picture-placeholder {
        height: 20rem;
        background: $light-gray;
        border-radius: $border-radius;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-container {
        margin-top: $vertical-margin * 1.5;
        margin-bottom: -0.5rem;
    }

    //.material-icons.large {
    //    font-size: 3rem;
    //    color: scale-color(map-get($colors, primary), $saturation: -25%);
    //    opacity: 0.5;
    //
    //    &.success {
    //        color: scale-color(map-get($colors, success), $saturation: -25%);
    //    }
    //}
}