@import 'settings';
//@import './utils/breakpoints';

.daily-limit {
    h1 {}

    h2 {}

    h3 {
        margin-top: $vertical-margin;
    }

    .subheader {
        margin-bottom: $vertical-margin * 1.5;
    }

    .meter {
        box-shadow: $floating-shadow;
        max-width: 30rem;
        margin: 0 auto;
    }

    .picture {
        position: relative;
        height: 12rem;
    }

    .picture-with-meter {
        margin-bottom: -1rem;
    }

    .picture-small {
        height: 8rem;
    }

    .picture-license {
        height: 5rem;
        display: inline-block;
        margin: $vertical-margin * 2 auto $vertical-margin * -0.5;
    }

    .picture-placeholder {
        height: 20rem;
        background: $light-gray;
        border-radius: $border-radius;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .picture-container {
        display: flex;
        align-items: center;
        min-height: 100%;

        .picture {
            min-width: 100%;
            height: auto;
        }
    }

    .icon-container {
        margin-top: $vertical-margin * 1.5;
        margin-bottom: -0.5rem;
    }
}