@import 'settings';
@import './utils/breakpoints';

body {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    color: $black;
}

@each $label, $sizes in $headings {
    @include breakpoint($label) {
        @each $heading, $params in $sizes {
            #{$heading} {
                font-size: map-get($params, font-size);
                font-weight: $font-weight-bold;
                margin-top: $vertical-margin * 1.5;
                margin-bottom: $vertical-margin;
            }
        }
    }
}

.subheader {
    color: $medium-gray;
}

a {
    color: map-get($colors, primary);
    transition: $hover-transition;

    &:hover,
    &:focus {
        color: scale-color(map-get($colors, primary), $lightness: $darken);
    }
}

small,
.small {
    font-size: $small-font-size;
}

p {
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
}

p.suppressed {
    margin: $vertical-margin 0;
    color: $medium-gray;
}

p.subheader {
    color: $dark-gray;
    margin-top: -($vertical-margin / 2);
}

.lead {
    font-size: $large-font-size;
}

.uncontained {
    padding: 0 $horizontal-padding;
}

ul, ol {
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;

    &.list-plain {
        list-style: none;
        padding-left: 0;
    }
}

ol {
    list-style: none;
    counter-reset: li;

    li {
        counter-increment: li;
    }

    li:before {
        content: counter(li);
        color: $medium-gray;
        display: inline-block;
        width: 1em;
        margin-left: -2em;
        margin-right: 1em;
        text-align: right;
    }
}

.callout {
    background-color: $faint-gray;
    border-radius: $border-radius;
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
    padding: 0.0625rem $horizontal-padding;
}

.space-emphasis {
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
}