@import '../../styles/custom-settings';

#gridcross {
    margin: 0 auto;
    padding: 1rem;
    user-select: none;

    #canvas-wrapper {
        //background: blanchedalmond;
        background: url('https://www.umimeto.org/asset/global/img/pozadi_svetlejsi.png') blanchedalmond;
        background-size: cover;
        border-radius: $global-radius;
        box-sizing: content-box;
        margin: 0 auto;
        //padding: 10px;
        width: fit-content;
    }

    #canvas {
        background: rgba($white, 0.65);
        border-radius: inherit;
        box-sizing: border-box;
        display: block;

        path,
        line {
            stroke-linecap: round;
            stroke-width: 1px;
            stroke: $medium-gray;
            pointer-events: none;

            &.gridline {}

            &.userline {
                stroke: $black;
                stroke-width: 2px;
            }

            &.axisline {}
        }

        $indicator-transition: fill $custom-lightning-speed $custom-default-easing,
            stroke $custom-lightning-speed $custom-default-easing;

        circle.indicator {
            fill: $white;
            stroke-width: 1px;
            stroke: $black;
            transition: $indicator-transition;

            &.snapped {
                stroke: $secondary-color;
            }
        }

        line.indicator {
            stroke-width: 3px;
            stroke: $black;
            transition: $indicator-transition;

            &.snapped {
                stroke: $secondary-color;
            }
        }

        .node {
            fill: transparent;

            &.gridnode {}

            &.usernode {
                stroke: $black;
                fill: $white;
                //stroke-width: 2;
            }
        }
    }
}