<footer>
    <div class="grid">
        <div class="grid-content">
            <div class="grid-item-medium-4">
                <h2>Pro učitele a školy</h2>
                <ul class="list-plain">
                    <li><a href="#">Ucitelský mód</a></li>
                    <li><a href="#">7 kroků pro rychlý start učitele</a></li>
                    <li><a href="#">Jak propojit systémy s výukou?</a></li>
                    <li><a href="#">Ceník licencí pro školy</a></li>
                    <li><a href="#">Časté dotazy</a></li>
                </ul>
            </div>
            <div class="grid-item-medium-4">
                <h2>Pro rodiny a jednotlivce</h2>
                <ul class="list-plain">
                    <li><a href="#">Rodinná licence</a></li>
                    <li><a href="#">Domácí procvičování</a></li>
                    <li><a href="#">Ceník licencí pro rodiny</a></li>
                    <li><a href="#">Časté dotazy</a></li>
                </ul>
            </div>
            <div class="grid-item-medium-4">
                <h2>O projektu</h2>
                <ul class="list-plain">
                    <li><a href="#">O systémech Umíme</a></li>
                    <li><a href="#">Autoři projektu</a></li>
                    <li><a href="#">Youtube kanál </a></li>
                </ul>
            </div>
        </div>
        <div class="grid-content">
            <div class="grid-item-medium-8">
                <p>Umíme česky je systém, který umožňuje důkladné procvičení učiva. Má široké pokrytí a řadu cvičení. Systém Vám ulehčí zadávání domácích úkolů, Vaše studenty bude procvičování bavit a více se toho naučí.</p>
                <p><a href="#">Více o učitelském módu</a></p>
            </div>
            <div class="grid-item-medium-4">
                <img src="assets/img/footer-teacher.png" class="dongle" alt="Illustration of a teacher">
            </div>
        </div>
    </div>
</footer>