<section class="grid" id="co-dal">
    <div class="grid-content">
        <div class="grid-item-medium-8 grid-item-medium-offset-2 grid-item-large-4 grid-item-large-offset-0 space-emphasis">
            <div class="content-box small-align-center flex flex-direction-column">
                <div class="content-box-section tight flex-item">
                    <div class="">
                        <img class="picture picture-license" src="{{root}}assets/img/divka_veru+kluk_it.png" alt="Procvičující rodina">
                    </div>
                    <h2>+150 otázek zdarma</h2>
                    <p class="subheader">
                        <span class="badge badge-primary">Zaregistrujte se</span>
                    </p>
                </div>
                <div class="content-box-section tight flex-item-grow-1">
                    <p><strong>250 otázek zdarma každý den</strong></p>
                    <p>Statistiky vašeho zlepšování</p>
                    <p>Připomeneme, že můžete zase na to</p>
                    <p>Jsme rádi, že s námi procvičujete 🥰</p>
                    <!--<p><a href="#">Zjistit více</a></p>-->
                </div>
                <div class="content-box-section tight flex-item">
                    <!--<p class="lead">&nbsp;</p>-->
                    <p>
                        <a href="#" class="button button-disabled button-suppressed">
                            <i class="material-icons">check</i> Jste registrovaní
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="grid-item-medium-6 grid-item-large-4 space-emphasis">
            <div class="content-box content-box-success small-align-center flex flex-direction-column">
                <div class="content-box-section tight flex-item">
                    <div class="">
                        <img class="picture picture-license" src="{{root}}assets/img/rodina@2x.png" alt="Procvičující rodina">
                    </div>
                    <h2>Neomezené procvičování</h2>
                    <p class="subheader">
                        <span class="badge badge-success">S rodinnou licencí</span>
                    </p>
                </div>
                <div class="content-box-section tight flex-item-grow-1">
                    <p>Procvičujte bez denního omezení</p>
                    <p>Nástroje pro rodiče</p>
                    <p>Podpořte vývoj nástrojů Umíme</p>
                    <p><a href="#" class="success">Zjistit více</a></p>
                </div>
                <div class="content-box-section tight flex-item">
                    <p class="lead">Už <strong>od 222 Kč</strong> za rok</p>
                    <p><a href="#" class="button button-success button-emphasized">Pořídit licenci</a></p>
                </div>
            </div>
        </div>
        <div class="grid-item-medium-6 grid-item-large-4 space-emphasis">
            <div class="content-box content-box-success small-align-center flex flex-direction-column">
                <div class="content-box-section tight flex-item">
                    <div class="">
                        <img class="picture picture-license" src="{{root}}assets/img/ucitelka_deti.png" alt="Procvičující rodina">
                    </div>
                    <h2>Procvičování pro školy</h2>
                    <p class="subheader">
                        <span class="badge badge-success">Se školní licencí</span>
                    </p>
                </div>
                <div class="content-box-section tight flex-item-grow-1">
                    <p>Procvičujte bez denního omezení</p>
                    <p>Nástroje pro učitele</p>
                    <p>Podpořte vývoj nástrojů Umíme</p>
                    <p><a href="#" class="success">Zjistit více</a></p>
                </div>
                <div class="content-box-section tight flex-item">
                    <p class="lead">Už <strong>od 990 Kč</strong> za školu a rok</p>
                    <p><a href="#" class="button button-success button-emphasized">Pořídit licenci</a></p>
                </div>
            </div>
        </div>
    </div>
</section>