<section class="grid">
    <div class="grid-content">
        <!--<div class="grid-item small-align-center">-->
            <!--<h2 class="margin-top-0">Řekli o nás</h2>-->
        <!--</div>-->
        <div class="grid-item-large-8 grid-item-large-offset-2 space-emphasis">
            <p class="shout">Děkuji za super web - už nemusím děti nahánět k procvičování češtiny, občas je
                musím spíš odhánět :)</p>
            <p class="shout">Navíc mi to dost usnadňuje domácí vzdělávání syna. Děkuji.</p>
            <p>
                <span class="person-mention">
                    <span class="dongle">
                        <img src="{{root}}assets/img/avatar-hipsterka.png" alt="Marcela Chvátilová"/>
                    </span>
                    <span class="label">
                        <strong>Marcela Chvátilová</strong>
                    </span>
                </span>
            </p>
        </div>
    </div>
</section>