<section class="grid">
    <div class="grid-content">
        <div class="grid-item-large-12 small-align-center splash">
            <div class="back">
                <img class="picture picture-with-meter picture-faded" src="{{root}}assets/img/prisera_chapadla-01-bez_vousu.png"
                     alt="Dneska jste tedy zamakali!"/>
            </div>
            <!--<h1 id="top" class="uncontained">Dneska jste se činili!</h1>-->
            <div class="front">
                <div class="meter meter-warning">
                    <div class="current" style="width: 100%;"></div>
                </div>
                <h1>Jde vám to od ruky!</h1>
                <p class="margin-top--1 lead">Využili jste všech 250 dnešních otázek zdarma</p>
                <p><a href="#co-dal" class="button button-large button-primary smooth-scroll">Koukněte co dál</a></p>
            </div>
        </div>
    </div>
</section>