<section class="grid">
    <div class="grid-content">
        <div class="grid-item-medium-10 grid-item-large-8 grid-item-xlarge-6 grid-item-medium-offset-1 grid-item-large-offset-2 grid-item-xlarge-offset-3">
            <h2 class="shoutout small-align-center">Proč máme denní limit?</h2>
            <p class="subheader subheader-tight lead small-align-center">Proč musím platit za neomezený přístup? 🤔</p>
            <p>Na vývoj a provoz výukového webu jsou potřeba finanční prostředky. Web není placený z grantů a <strong>neobsahuje žádné reklamy</strong>, protože reklamy ruší od učení a do výukového systému nepatří.</p>
            <p>Váš příspěvek nám dovoluje vyvíjet web ve vysoké kvalitě, dlouhodobě udržitelným způsobem. Zároveň se ujišťujeme, že licence zůstávají dostupné všem. Vaší podpory si velice vážíme!</p>
            <p><a href="#">Zjistit více</a></p>
        </div>
    </div>
</section>