<section class="grid">
    <div class="grid-content">
        <div class="grid-item small-align-center">
            <h2 class="margin-top-0">Řekli o nás</h2>
        </div>
        <div class="grid-item-large-4 space-emphasis">
            <div class="content-box flex flex-direction-column">
                <div class="content-box-section tight flex-item-grow-1">
                    <p class="small">Děkuji za super web - už nemusím děti nahánět k procvičování češtiny, občas je
                        musím spíš odhánět :)</p>
                    <p class="small margin-bottom-0">Navíc mi to dost usnadňuje domácí vzdělávání syna. Děkuji.</p>
                </div>
                <div class="content-box-section tight unseparated flex-item">
                    <p>
                        <span class="person-mention">
                            <span class="dongle">
                                <img src="{{root}}assets/img/avatar-hipsterka.png" alt="Marcela Chvátilová"/>
                            </span>
                            <span class="label">
                                <strong>Marcela Chvátilová</strong>
                            </span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="grid-item-large-4 space-emphasis">
            <div class="content-box flex flex-direction-column">
                <div class="content-box-section tight flex-item-grow-1">
                    <p class="small">Dobrý den, jsem žákyní 6.třídy a velmi se mi líbí váš způsob. Díky vám jsem se
                        naučila některá pravidla. :) Chci vám poděkovat.</p>
                    <p class="small">Čeština mi z počátku moc nešla ale po pár
                        měsících učení a procvičování na této internetové stránce mi opravdu pomohla.</p>
                    <p class="small margin-bottom-0">V poslední době dostávám jedničky (max. 1-) s diktátů. Pan učitel mě chválí a
                        je rád že se snažím. Děkuji moc. :)</p>
                </div>
                <div class="content-box-section tight unseparated flex-item">
                    <p>
                        <span class="person-mention">
                            <span class="dongle">
                                <img src="{{root}}assets/img/avatar-luc.png" alt="Karolína Doležalová"/>
                            </span>
                            <span class="label">
                                <strong>Karolína Doležalová</strong><br/>6.B :)
                            </span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="grid-item-large-4 space-emphasis">
            <div class="content-box flex flex-direction-column">
                <div class="content-box-section tight flex-item-grow-1">
                    <p class="small">V hodinách českého jazyka využíváme umimecesky.cz v každé hodině. Pro žáky je
                        střídání různých činností při opakování pravopisu a gramatiky důležité a on-line cvičení
                        představují skvělou alternativu k pracovním sešitům či diktátům. Žáky takové procvičování
                        baví a tím pádem se toho také víc naučí.</p>
                    <p class="small margin-bottom-0">Oproti jiným výukovým webům oceňujeme především propracovaný systém tříd a
                        zadaných úkolů, které pro učitele tvoří příjemný a komplexní přehled postupu třídy. Fandíme
                        celém webu umimeto.org a děkujeme za skvělou spolupráci.</p>
                </div>
                <div class="content-box-section tight unseparated flex-item">
                    <p>
                        <span class="person-mention">
                            <span class="dongle">
                                <img src="{{root}}assets/img/avatar-ucitel.png" alt="Petr Kuba"/>
                            </span>
                            <span class="label">
                                <strong>Petr Kuba</strong><br/>EDUCAnet – SŠ a ZŠ České Budějovice, s.r.o.
                            </span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>