<section class="grid">
    <div class="grid-content">
        <div class="grid-item-medium-10 grid-item-large-8 grid-item-xlarge-6 grid-item-medium-offset-1 grid-item-large-offset-2 grid-item-xlarge-offset-3">
            <h2 class="shoutout small-align-center">Plná licence má smysl</h2>
            <p class="subheader subheader-tight lead small-align-center">S licencí budete každý den procvíčovat déle</p>
        </div>
        <div class="grid-item-medium-10 grid-item-large-8 grid-item-xlarge-6 grid-item-medium-offset-1 grid-item-large-offset-2 grid-item-xlarge-offset-3">
            <div class="picture-container">
                <img class="picture"
                     src="{{root}}assets/img/ill-licensees-journey-9@2x.png"
                     alt="Dneska jste tedy zamakali!"
                />
            </div>
            <!--<p class="small-align-center">Průměrný čas strávený každý den v systémech Umíme</p>-->
        </div>
        <div class="grid-item-medium-10 grid-item-large-8 grid-item-xlarge-6 grid-item-medium-offset-1 grid-item-large-offset-2 grid-item-xlarge-offset-3">
            <h2 class="shoutout small-align-center">Proč máme denní limit?</h2>
            <p class="subheader subheader-tight lead small-align-center">Proč musím platit za neomezený přístup? 🤔</p>
            <p>Na vývoj a provoz výukového systému jsou potřeba finanční prostředky. Web není placený z grantů a <strong>neobsahuje žádné reklamy</strong>, protože reklamy ruší od učení a do výukového systému nepatří.</p>
            <p>Váš příspěvek nám dovoluje vyvíjet systémy Umíme ve vysoké kvalitě, dlouhodobě udržitelným způsobem. Zároveň se ujišťujeme, že licence zůstávají dostupné všem. Vaší podpory si velice vážíme!</p>
        </div>
        <div class="grid-item-medium-10 grid-item-large-8 grid-item-xlarge-6 grid-item-medium-offset-1 grid-item-large-offset-2 grid-item-xlarge-offset-3">
            <p class="small-align-center"><a href="#" class="button button-success button-large button-emphasized">Pořídit licenci</a></p>
        </div>
    </div>
</section>