<section>
    <div class="pages">
        <div class="page">
            <div class="grid">
                <div class="grid-content">
                    <div class="grid-item-large-8 grid-item-large-offset-2 space-emphasis">
                        <div class="uncontained">
                            <p class="shout">Děkuji za super web - už nemusím děti nahánět k procvičování češtiny, občas
                                je musím spíš odhánět :)</p>
                            <p class="shout">Navíc mi to dost usnadňuje domácí vzdělávání syna. Děkuji.</p>
                            <p>
                                <span class="person-mention">
                                    <span class="dongle">
                                        <img src="{{root}}assets/img/avatar-hipsterka.png" alt="Marcela Chvátilová"/>
                                    </span>
                                    <span class="label">
                                        <strong>Marcela Chvátilová</strong>
                                    </span>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page">
            <div class="grid">
                <div class="grid-content">
                    <div class="grid-item-large-8 grid-item-large-offset-2 space-emphasis">
                        <div class="uncontained">
                            <p class="shout">Dobrý den, jsem žákyní 6.třídy a velmi se mi líbí váš způsob. Díky vám jsem
                                se naučila některá pravidla. :) Chci vám poděkovat.</p>
                            <p class="shout">Čeština mi z počátku moc nešla ale po pár měsících učení a procvičování na
                                této internetové stránce mi opravdu pomohla.</p>
                            <p class="shout">V poslední době dostávám jedničky (max. 1-) s diktátů. Pan učitel mě chválí
                                a je rád že se snažím. Děkuji moc. :)</p>
                            <p>
                                <span class="person-mention">
                                    <span class="dongle">
                                        <img src="{{root}}assets/img/avatar-luc.png" alt="Karolína Doležalová"/>
                                    </span>
                                    <span class="label">
                                        <strong>Karolína Doležalová</strong><br/>6.B :)
                                    </span>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page">
            <div class="grid">
                <div class="grid-content">
                    <div class="grid-item-large-8 grid-item-large-offset-2 space-emphasis">
                        <div class="uncontained">
                            <p class="shout">V hodinách českého jazyka využíváme umimecesky.cz v každé hodině. Pro žáky
                                je střídání různých činností při opakování pravopisu a gramatiky důležité a on-line
                                cvičení představují skvělou alternativu k pracovním sešitům či diktátům. Žáky takové
                                procvičování baví a tím pádem se toho také víc naučí.</p>
                            <p class="shout">Oproti jiným výukovým webům oceňujeme především propracovaný systém tříd a
                                zadaných úkolů, které pro učitele tvoří příjemný a komplexní přehled postupu třídy.
                                Fandíme celém webu umimeto.org a děkujeme za skvělou spolupráci.</p>
                            <p>
                                <span class="person-mention">
                                    <span class="dongle">
                                        <img src="{{root}}assets/img/avatar-ucitel.png" alt="Petr Kuba"/>
                                    </span>
                                    <span class="label">
                                        <strong>Petr Kuba</strong><br/>EDUCAnet – SŠ a ZŠ České Budějovice, s.r.o.
                                    </span>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>