<section class="grid">
    <div class="grid-content">
        <div class="grid-item-large-12 small-align-center splash">
                <div class="meter meter-warning">
                    <div class="current" style="width: 100%;"></div>
                </div>
                <h1>Jde vám to od ruky!</h1>
                <p class="margin-top--1 lead">Využili jste všech 250 dnešních otázek zdarma</p>
                <p><a href="#co-dal" class="button button-large button-primary smooth-scroll">Koukněte co dál</a></p>
            <p class="margin-top-2">
                <img class="picture"
                    src="{{root}}assets/img/ill-licensees-journey-3@2x.png"
                    style="height: 300px;"
                    alt="Dneska jste tedy zamakali!"
                />
            </p>
        </div>
    </div>
</section>