<section class="grid">
    <div class="grid-content">
        <div class="grid-item-medium-10 grid-item-large-8 grid-item-xlarge-6 grid-item-medium-offset-1 grid-item-large-offset-2 grid-item-xlarge-offset-3">
            <h2 class="shoutout small-align-center">Plná licence má smysl</h2>
            <p class="subheader subheader-tight lead small-align-center">Procvičujte pravidelně bez omezení</p>
        </div>
        <div class="grid-item-medium-10 grid-item-large-8 grid-item-xlarge-6 grid-item-medium-offset-1 grid-item-large-offset-2 grid-item-xlarge-offset-3">
            <div class="picture-container">
                <img class="picture"
                     src="{{root}}assets/img/ill-licensees-journey-9@2x.png"
                     alt="Dneska jste tedy zamakali!"
                />
            </div>
        </div>
        <div class="grid-item-medium-10 grid-item-large-8 grid-item-xlarge-6 grid-item-medium-offset-1 grid-item-large-offset-2 grid-item-xlarge-offset-3">
            <h3 class="shoutout small-align-center">Jen opakování dělá mistra</h3>
            <!--<p>Pokud si máte něco zapamatovat, bez opakování to nepůjde.</p>-->
            <!--<p>Svou znalost v systému prokážete získáním 4&nbsp;štítů.</p>-->
            <!--<p>Pokud si látku zopakujete po měsíci, získáte hvězdu jako potvrzení.</p>-->
            <!--<p><a href="#">Zjistit více</a></p>-->
            <p class="small-align-center"><a href="#" class="button button-success button-large button-emphasized">Pořídit licenci</a></p>
        </div>
        <!--<div class="grid-item-large-8 grid-item-large-offset-2">-->
            <!--<hr class="spacious"/>-->
        <!--</div>-->
    </div>
</section>