<section class="grid">
    <div class="grid-content">
        <div class="grid-item-medium-5 grid-item-large-5 grid-item-large-offset-1 grid-item-xlarge-4 grid-item-xlarge-offset-2 medium-align-right flex flex-align-center">
            <div class="uncontained">
                <h3 class="shoutout">Procvičujte pestrou škálu předmětů kvalitně, zábavně a do hloubky</h3>
                <p>Všechny předměty pod jednou střechou.
                    Jediná online cvičebnice Vám pokryje vše podstatné.
                    Její obsah je vždy aktuální a neustále se rozšiřuje.</p>
                <p><a href="#">Zjistit více</a></p>
            </div>
        </div>
        <div class="grid-item-medium-7 grid-item-large-6 grid-item-xlarge-5">
            <div class="tabs">
                <div class="tabs-bookmarks">
                    <div class="tab-bookmark">Český jazyk</div>
                    <div class="tab-bookmark">Angličtina</div>
                    <div class="tab-bookmark">Matematika</div>
                    <div class="tab-bookmark">+4 další</div>
                </div>
                <div class="tabs-content">
                    <div class="tab">
                        <p>
                        <div class="picture-placeholder">img czech</div>
                        </p>
                        <div class="stats">
                            <div class="stat">
                                <div class="value">154</div>
                                <div class="label">Oblastí</div>
                            </div>
                            <div class="stat">
                                <div class="value">22</div>
                                <div class="label">Cvičení</div>
                            </div>
                            <div class="stat">
                                <div class="value">9&thinsp;535</div>
                                <div class="label">Příkladů</div>
                            </div>
                            <div class="stat">
                                <div class="value">2&thinsp;443</div>
                                <div class="label">Řešení denně</div>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <p>
                        <div class="picture-placeholder">img english</div>
                        </p>
                        <div class="stats">
                            <div class="stat">
                                <div class="value">197</div>
                                <div class="label">Oblastí</div>
                            </div>
                            <div class="stat">
                                <div class="value">18</div>
                                <div class="label">Cvičení</div>
                            </div>
                            <div class="stat">
                                <div class="value">7&thinsp;441</div>
                                <div class="label">Příkladů</div>
                            </div>
                            <div class="stat">
                                <div class="value">4&thinsp;392</div>
                                <div class="label">Řešení denně</div>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <p>
                        <div class="picture-placeholder">img math</div>
                        </p>
                        <div class="stats">
                            <div class="stat">
                                <div class="value">153</div>
                                <div class="label">Oblastí</div>
                            </div>
                            <div class="stat">
                                <div class="value">16</div>
                                <div class="label">Cvičení</div>
                            </div>
                            <div class="stat">
                                <div class="value">9&thinsp;896</div>
                                <div class="label">Příkladů</div>
                            </div>
                            <div class="stat">
                                <div class="value">2&thinsp;984</div>
                                <div class="label">Řešení denně</div>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <p>
                        <div class="picture-placeholder">img the whole ecosystem</div>
                        </p>
                        <div class="stats">
                            <div class="stat">
                                <div class="value">1&thinsp;289</div>
                                <div class="label">Oblastí</div>
                            </div>
                            <div class="stat">
                                <div class="value">201</div>
                                <div class="label">Cvičení</div>
                            </div>
                            <div class="stat">
                                <div class="value">59&thinsp;896</div>
                                <div class="label">Příkladů</div>
                            </div>
                            <div class="stat">
                                <div class="value">32&thinsp;984</div>
                                <div class="label">Řešení denně</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="grid">
    <div class="grid-content">
        <div class="grid-item-medium-7 grid-item-large-6 grid-item-xlarge-6">
            <div class="picture-container">
                <img class="picture"
                     src="{{root}}assets/img/ill-licensees-journey-5@2x.png"
                     alt="Dneska jste tedy zamakali!"
                />
            </div>
        </div>
        <div class="grid-item-medium-5 grid-item-large-5 grid-item-xlarge-4 flex flex-align-center">
            <div class="uncontained">
                <h3 class="shoutout">Jen opakování dělá mistra</h3>
                <p>Pokud si máte něco zapamatovat, bez opakování to nepůjde.</p>
                <p>Svou znalost v systému prokážete získáním 4&nbsp;štítů.</p>
                <p>Pokud si látku zopakujete po měsíci, získáte hvězdu jako potvrzení.</p>
                <p><a href="#">Zjistit více</a></p>
            </div>
        </div>
    </div>
</section>

<section class="grid">
    <div class="grid-content">
        <div class="grid-item small-align-center">
            <h3>Je toho za tím ještě o kus víc</h3>
            <p><a href="#" class="button button-suppressed">O naší metodě</a></p>
        </div>
    </div>
</section>