<section class="grid">
    <div class="grid-content">
        <div class="grid-item-large-12 small-align-center">
            <hr class="spacious"/>
            <div class="small-align-center">
                <img class="picture picture-small" src="{{root}}assets/img/rodina@2x.png" alt="Procvičující rodina">
            </div>
            <h2>Dává vám procvičování s námi smysl?</h2>
            <p>Rodinné licence už <strong>od 222 Kč za rok</strong><br/>
                <strong>První měsíc zdarma</strong> na zkušenou</p>
            <p><a href="#" class="button button-success button-large button-emphasized">Pořídit licenci</a></p>
            <hr class="spacious"/>
        </div>
    </div>
</section>